{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Espaço Recanto dos Ipês - Confraternizações e
        Comemorações</title>      
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> 
        
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    </head>
    
    <body>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    
            <div class="col">
              <div class="card h-100">
                <img src="./static/img/cha-camilla.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Viva momentos incríveis</h5>
                  <p class="card-text">Faça como a Camilla e registre o dia que
                  pode ser o melhor da sua vida.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="./static/img/cha-camilla2.png" class="card-img-top"
                alt="...">
                <div class="card-body">
                  <h5 class="card-title">Compartilhe as alegrias da vida</h5>
                  <p class="card-text">Ideal para eventos familiares,
                  confraternizações e festas com amigos.</p>
                </div>
              </div>
            </div>

            <div class="col">
                <div class="card h-100">
                  <img src="./static/img/cha-camilla3.png" class="card-img-top"
                  alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Uma cervejinha sempre vai bem</h5>
                    <p class="card-text">Reuna amigos e familiares num
                    churrascom com cerveja!</p>
                  </div>
                </div>
              </div>
            
              <div class="col">
                <div class="card h-100">
                  <img src="./static/img/cha-camilla4.png" class="card-img-top"
                  alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Do tamanho ideal para o seu evento</h5>
                    <p class="card-text">O amplo espaço disponível do espaço
                    Recanto dos Ipês comporta até 200 pessoas</p>
                  </div>
                </div>
              </div>

            <div class="col">
                <div class="card h-100">
                  <img src="./static/img/logo.png"  class="card-img-top"
                  alt="estrutura espaço" >
                  <div class="card-body">
                    <h5 class="card-title">Nosso espaço</h5>
                    <p class="card-text">Conheça toda a estrutura que fará sua
                    festa incrível. Possuímos piscinas, banheiros, cozinha,
                    churrasqueira, freezer, área coberta, área verde e muito mais!
                    </p>
                                        <!-- Button trigger modal -->
                                        <div class="d-grid gap-2
                                              mx-auto p-2">
                                        <button type="button" class="btn
                                        btn-primary" style="opacity:80%;" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">
                                          Ver espaço
                                      </button>
                                      
                                      </div>
                                      
                                      <!-- Modal -->
                                      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-fullscreen-xxl-down">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                              <h1 class="modal-title fs-5"
                                              id="staticBackdropLabel">Nosso espaço</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                              
                                                  <div class="row row-cols-1 row-cols-md-3 g-4">
                                                      <div class="col">
                                                        <div class="card h-100">
                                                          <img src="./static/img/estrutura.jpg" class="card-img-top" alt="...">
                                                        </div>
                                                      </div>
                                                      <div class="col">
                                                        <div class="card h-100">
                                                          <img src="./static/img/estrutura2.jpg" class="card-img-top" alt="...">
                                                        </div>
                                                      </div>
                                                      <div class="col">
                                                        <div class="card h-100">
                                                          <img src="./static/img/estrutura3.jpg" class="card-img-top" alt="...">
                                                        </div>
                                                      </div>
                                                      <div class="col">
                                                        <div class="card h-100">
                                                          <img src="./static/img/estrutura4.jpg" class="card-img-top" alt="...">
                                                        </div>
                                                      </div>
                                                      <div class="col">
                                                          <div class="card h-100">
                                                            <img src="./static/img/estrutura5.jpg" class="card-img-top" alt="...">
                                                          </div>
                                                        </div>
                                                    
                                                    <div class="col">
                                                      <div class="card h-100">
                                                        <img src="./static/img/estrutura6.jpg" class="card-img-top" alt="...">
                                                      </div>
                                                    </div>
                                                    <div class="col">
                                                      <div class="card h-100">
                                                        <img src="./static/img/estrutura7.jpg" class="card-img-top" alt="...">
                                                      </div>
                                                    </div>
                                                    <div class="col">
                                                      <div class="card h-100">
                                                        <img src="./static/img/estrutura8.jpeg" class="card-img-top" alt="...">
                                                      </div>
                                                    </div>
                                                    <div class="col">
                                                      <div class="card h-100">
                                                        <img src="./static/img/estrutura9.jpeg" class="card-img-top" alt="...">
                                                      </div>
                                                    </div>
                                                    <div class="col">
                                                      <div class="card h-100">
                                                        <img src="./static/img/estrutura10.jpg" class="card-img-top" alt="...">
                                                      </div>
                                                    </div>
                                                    <div class="col">
                                                      <div class="card h-100">
                                                        <img src="./static/img/estrutura11.jpeg" class="card-img-top" alt="...">
                                                      </div>
                                                    </div>
                                                    <div class="col">
                                                      <div class="card h-100">
                                                        <img src="./static/img/estrutura12.jpeg" class="card-img-top" alt="...">
                                                      </div>
                                                    </div>
                                                    <div class="col">
                                                      <div class="card h-100">
                                                        <img src="./static/img/estrutura13.jpeg" class="card-img-top" alt="...">
                                                      </div>
                                                    </div>
                                              </div>
                                          </div>
                                              <div class="d-grid gap-2
                                              mx-auto p-2">
                                                  <a
                                                  href="https://api.whatsapp.com/send?phone=+5567996161512&text=Olá,
                                                  gostaria de reservar um dia no
                                                  espaço Recanto dos Ipês?"
                                                  class="btn
                                                  btn-outline-primary"
                                                  style="opacity:80%">Envie-nos
                                                      uma mensagem</a>
                                                
                                              </div>
                                          </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                  
                  </div>
                  
          </div>
    </body>

{%endblock%}